<%- include('componentes/head', { titulo: jogador.name, estilos: ['jogador'], icon: jogador.icon.id }) %>
<body class="d-flex align-items-center min-vh-100">
    <header></header>
    <div class="container-contest">
        <div class="container-box">
            <div class="cartao">
                <img src="https://cdn.brawlify.com/profile-icons/regular/<%= jogador.icon.id %>.png" alt="Ãcone de jogador" class="icon">
                <div class="identificacao">
                    <p class="nome" style="color: #<%= jogador.nameColor.substr(4, 8) %>;"><%= jogador.name %></p>
                    <p class="tag"><%= jogador.tag.toUpperCase() %></p>
                </div>
            </div>
            <div class="informacoes">
                
            </div>
        </div>
    </div>
    <%- include('componentes/footer') %>
</body>
</html>