<%- include('componentes/head', { titulo: jogador.name, estilos: ['jogador'], icon: jogador.icon.id }) %>
<body class="d-flex align-items-center min-vh-100">
    <header></header>
    <div class="container-contest">
        <div class="container-box">
            <div class="cartao">
                <img src="https://cdn.brawlify.com/profile-icons/regular/<%= jogador.icon.id %>.png" alt="Ícone de jogador" class="icon">
                <div class="identificacao">
                    <p class="nome" style="color: <%= jogador.nameColor ? '#'+jogador.nameColor.substr(4, 6) : 'white' %>;"><%= jogador.name %></p>
                    <p class="tag"><%= jogador.tag.toUpperCase() %></p>
                </div>
            </div>
            <div class="cartao-informacoes">
                <div class="linha">
                    <p class="nome-informacoes informacoes">Troféus:</p>
                    <p class="conteudo-informacoes informacoes"><%= jogador.trophies %></p>
                </div>
                <div class="linha">
                    <p class="nome-informacoes informacoes">Máximo de troféus:</p>
                    <p class="conteudo-informacoes informacoes"><%= jogador.highestTrophies %></p>
                </div>
                <div class="linha">
                    <p class="nome-informacoes informacoes">Vitórias 3vs3:</p>
                    <p class="conteudo-informacoes informacoes"><%= jogador['3vs3Victories'] %></p>
                </div>
                <div class="linha">
                    <p class="nome-informacoes informacoes">Vitórias duo:</p>
                    <p class="conteudo-informacoes informacoes"><%= jogador.duoVictories %></p>
                </div>
                <div class="linha">
                    <p class="nome-informacoes informacoes">Vitórias solo:</p>
                    <p class="conteudo-informacoes informacoes"><%= jogador.soloVictories %></p>
                </div>
                <div class="linha">
                    <p class="nome-informacoes informacoes">Quantidade de brawlers:</p>
                    <p class="conteudo-informacoes informacoes"><%= jogador.brawlers.length %>/<%= brawlers.items.length %></p>
                </div>
            </div>
            <a href="/jogador"><%- include('componentes/botao', { text: 'Voltar' }) %></a>
        </div>
    </div>
    <%- include('componentes/footer') %>
</body>
</html>